@font-face {
    font-family: Montserrat;
    src: url('./Fonts/Montserrat-Medium.ttf') format('truetype');
}

body{
    font-family: Montserrat;
    color: white;
    height: 2500px;
    overflow-x: hidden;
    background-color:  rgb(5, 6, 45);
}

#logo{
position: absolute;
top: 35px;
left: 20px;
scale: 1;
}

#credits{
    position: absolute;
    top: 830px;
    left: 1200px;
}
a:link {
  color: white;
}
a:visited {
  color: green;
}
a:hover {
  color: hotpink;
}
a:active {
  color: blue;
}

#pdf{
    position: relative;
    top: 7%;
    left: 150%;
    width: 550px;
    transition: left 0.3s ease;
    z-index: 10;
}

#pdf.show{
    left: 1200px;
}

.lang.checkbox{
    position: relative;
    width: 500px;
    top: 250px;
    display: flex;
    flex-flow: row;
    column-gap: 100px;
    justify-content: center;

}

.lang.checkbox .pool {
    display: flex;
    flex-flow: column;
    row-gap: 15px;

}

.langcheck {
    display: flex;
    flex-flow: row;
    column-gap: 12px;
    align-items: center;
    cursor: pointer;
}

.langcheck:hover img {
    scale: 1.2;
}

.langcheck img {
    width: 35px;
    height: 35px;
}

.langcheck .text{
    width: 100px;
    height: 25px;
}







#print{
    position: relative;
    top: 300px;
    left: 135px;
    max-width: 230px;
    min-width: 230px;
    height: 60px;
    border-radius: 8px;
    border-color: #11998e;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(144deg,#AF40FF, #5B42F3 50%, #00DDEB);
    background-size: 200% 200%;
    transition:  background-size 0.3s ease;
}

#print:hover {
    background-size: 100% 100%;
    border: none;
}



.languages{
    display: flex;
    flex-flow: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: bottom 1s ease;

}

.buttonLang {
    z-index: 11;
}

.buttonLang.active span {
    background: none;
}

.pool1,
.pool2 {
    display: flex;
    flex-flow: row;
    column-gap: 15px;
    top: 0;
    left: 0;
    transition: column-gap 1s ease;
}

.languages.top .pool1,
.languages.top .pool2 {
    position: relative;
    column-gap: 160px;
}

.languages.top .pool1{
    transition: column-gap 1s ease, left 1s, top 1s;
    left: 155px;
    top: 90px;
}

.languages.top{
    bottom: 95%;
}

.languages button {
    max-width: 150px;
    min-width: 150px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    height: 60px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.languages span {
    display:block;
    padding-top: 17px;
    padding-bottom: 17px;
    width: 100%;
    background-color: rgb(5, 6, 45);
    border-radius: 6px;
    transition: background 300ms;
}

.languages button:hover span {
  background: none;
}


#content {
    position: relative;
    left: -100%;
    top: -150px;
    transition: left 0.3s ease;
}

#content.show {
    left: 0;
}


.input.data {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.input.data input{
    width: 500px;
    border: 0;
    border-bottom: 2px solid #b5b5b5;
    border-width: 3px;
    outline: 0;
    font-size: 15pt;
    font-weight: 500;
    background: transparent;
}

.tournament.container,
.player.container,
.comment.container {
    position: relative;
}

label.tournament,
label.player,
label.comment {
    position: absolute;
    color: #9b9b9b;
    top: 3px;
    font-size: 15pt;
    display: block;
    transition: 0.2s;
    z-index: 0;
}


input.tournament[type="text"],
input.player[type="text"],
input.comment[type="text"]
{
    padding-bottom: 9px;
}

input.tournament,
input.player,
input.comment {
    position: relative;
    text-indent: 4px;
    text-shadow: 0px 0px 0px white;
    color: white;
    z-index: 1;
}

input.tournament:not(:placeholder-shown) ~label.tournament,
input.player:not(:placeholder-shown) ~label.player,
input.comment:not(:placeholder-shown) ~label.comment {
    text-shadow: 0px 0px 0px #9b9b9b;
    font-size:15px;
    top: -22px;
}

input.tournament:focus ~label.tournament,
input.player:focus ~label.player,
input.comment:focus ~label.comment {
    text-shadow: -1px 0px 0px #AF40FF;
    font-size:15px;
    top: -22px;
    color: #AF40FF;
}

input.tournament:focus,
input.player:focus,
input.comment:focus {
    border-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%, #00DDEB);
    border-image-slice: 1;
    text-shadow: -1.25px 0px 0px white;
}

.slots{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.slot{
    display: flex;
    flex-direction: row;
    column-gap: 45px;
}


.type1,
.type2{
    width:24px;
    height:24px;
}

.data {
    order: 2;
    display: grid;
   /* border: thick double linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);*/
    width: 600px;
    height: 255px;
    grid-template-columns: 29px 197px 75px 200px;
    grid-template-rows: 29px 45px 45px 10px 60px;
    align-items: start;

}

.type1{
    grid-column-start: 1;
    grid-row-start: 1;
}

.type2 {
    grid-column-start: 1;
    grid-row-start: 2;
}

.poke.sprite{
    grid-column-start: 2;
    grid-row-start: 2;
}

.tera.sprite{
    grid-column-start: 3;
    grid-row-start: 1;
}

.item.sprite{
    grid-column-start: 3;
    grid-row-start: 3;
}

.info{
    grid-column-start: 4;
    grid-row-start: 1;
    white-space: nowrap;
}

.poke.text{
    margin-bottom: 10px;
}

.moves{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    white-space: nowrap;
}

.buttons {
    order: 1;
    display: grid;
    grid-template-columns: 235px 230px;
    grid-template-rows: 65px 65px 65px 60px;
    align-items: start;
}

.poke.container{
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 0;
}
.ability.container{
    grid-column-start: 1;
    grid-row-start: 2;
    z-index: 0;
}
.item.container{
    grid-column-start: 1;
    grid-row-start: 3;
    z-index: 0;
}
.tera.container{
    grid-column-start: 1;
    grid-row-start: 4;
    z-index: 0;
}
.move.m1.container{
    grid-column-start: 2;
    grid-row-start: 1;
    z-index: 0;
}
.move.m2.container{
    grid-column-start: 2;
    grid-row-start: 2;
    z-index: 0;
}
.move.m3.container{
    grid-column-start: 2;
    grid-row-start: 3;
    z-index: 0;
}
.move.m4.container{
    grid-column-start: 2;
    grid-row-start: 4;
    z-index: 0;
}


.buttons .container {
    display: flex;
    flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    row-gap: 20px;
    max-width: 230px;
    min-width: 230px;
    background: none;
    border-radius: 8px;
    z-index: 0;
}

.buttons .container.show{
    z-index: 10;
    background-color: #FBEAEB;
}

.container .input,
.container .list {
    visibility: hidden;
}

.container.show .input,
.container.show .list {
    visibility: visible;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    height: 60px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button:active, .button:hover {
    outline: 0;
}

.button span {
padding: 18px;
    width: 100%;
    background-color: rgb(5, 6, 45);
    border-radius: 6px;
    transition: background 300ms;
}

.button:hover span {
  background: none;
}

.list {
    display: none;
    flex-direction: column;
    row-gap: 5px;
    width: 220px;
    min-height: 100px;
    max-height: 488px;
    padding-bottom: 7px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #5F9EA0 #e0d3d3;
}

.input{
    display: none;
    height: 30px;
    width: 90%;
}

.element {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 210px;
    background-color: #89CFF0;
    min-height: 50px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: rgb(5, 6, 45);
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.element:hover {
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}

.show .input,
.show .list {
    display: flex;
}

.item.sprite{
    width:64px;
    height:64px;
}

.poke.sprite{
    width:192px;
    height:192px;
}

.tera.sprite{
    width:60px;
    height:60px;
}

.info {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
}

.moves {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.moves .m1,
.moves .m2,
.moves .m3,
.moves .m4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 7px;
}

.moves .m1 .sprite {
    width:24px;
    height:24px;
}

.moves .m2 .sprite {
    width:24px;
    height:24px;
}

.moves .m3 .sprite {
    width:24px;
    height:24px;
}

.moves .m4 .sprite {
    width:24px;
    height:24px;
}


#loader {
    border: 12px solid #444444;
    border-radius: 50%;
    border-top: 12px solid #f3f3f3;
    width: 70px;
    height: 70px;
    opacity: 0;
    transition: opacity 0.3s ease;
    animation: spin 1s linear infinite;
    z-index: 0;
}
#loader.show {
    transition: opacity 0.3s ease;
    opacity: 1;
}


@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
